<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <app-header>Loading...</app-header>
  </header>
  <div class="mdl-layout__drawer">
      <span class="mdl-layout-title">
        <a class="item" href="/home">Home</a>
      </span>
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link" href="/login">Login</a>
        <a class="mdl-navigation__link" href="/finance">Finance</a>
        <a class="mdl-navigation__link" href="">Procurement</a>
        <a class="mdl-navigation__link" href="">Store Inventory</a>
        <a class="mdl-navigation__link" href="/register">Register</a>
      </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="page-content"><!-- Your content goes here --></div>
  </main>
</div>
