<div class="container">
  <h5 class="ui dividing header">LOGIN</h5>
  <form (ngSubmit)="onSubmit()" class="ui form" [hidden]="loginService.checkLogin()">
		<div class="one fields">
			<div class="mdl-textfield mdl-js-textfield">
	    	<input class="mdl-textfield__input" type="text" name="username" id="username" [(ngModel)]="model.username" ngControl="username" required/>
	      <label class="mdl-textfield__label" for="firstName">Username</label>
	    </div>
		</div>
		<div class="one fields">
	    <div class="mdl-textfield mdl-js-textfield">
	    	<input class="mdl-textfield__input" type="text" id="password"  name="password" [(ngModel)]="model.password" ngControl="password" required/>
	      <label class="mdl-textfield__label" for="password">password</label>
	    </div>
		</div>

		<button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Go</button>
	</form>

	<div [hidden]="!loginService.checkLogin()">
    <h3>Logged In Successfully! </h3>
    <h2>Welcome back, {{currentUserName}}!</h2>
  </div>
</div>
