<div class="container">
  <h5 class="ui dividing header">Register User</h5>
  <form *ngIf="!registered" class="ui form" (ngSubmit)="onSubmit()" #registerForm = "ngForm">
    <label>* All fields are mandatory</label>
    <div class="two fields">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="firstName" [(ngModel)]="newUser.firstName" ngControl="firstName" required/>
        <label class="mdl-textfield__label" for="firstName">FirstName</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="lastName" [(ngModel)]="newUser.lastName" ngControl="lastName" required/>
        <label class="mdl-textfield__label" for="lastName">LastName</label>
      </div>
    </div>
    <div class="two fields">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="email" [(ngModel)]="newUser.email" ngControl="email" required/>
        <label class="mdl-textfield__label" for="email">Email</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="text" id="phone" [(ngModel)]="newUser.phone" ngControl="phone" required/>
        <label class="mdl-textfield__label" for="phone">Phone</label>
      </div>
    </div>
    <div class="mdl-textfield mdl-js-textfield">
      <input class="mdl-textfield__input" type="text" id="username" [(ngModel)]="newUser.username" ngControl="username" required/>
      <label class="mdl-textfield__label" for="username">Username</label>
    </div>
    <div class="two fields">
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="password" id="userpass" [(ngModel)]="newUser.password" ngControl="password" required/>
        <label class="mdl-textfield__label" for="userpass">Password</label>
      </div>
      <div class="mdl-textfield mdl-js-textfield">
        <input class="mdl-textfield__input" type="password" id="cnfuserpass" />
        <label class="mdl-textfield__label" for="cnfuserpass">Confirm Password</label>
      </div>
    </div>
  </form>
  <button type="submit" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" [disabled]="!registerForm.form.valid" >Register</button>
</div>
<div *ngIf="registered">
  <h1>Register Success!</h1>
</div>





<div class="container">
<form *ngIf="!registered" class="ui form" (ngSubmit)="onSubmit()" #registerForm = "ngForm">
  <h2 class="ui dividing header">Register User</h2>
  <div class="field">
    <label>* Name</label>
    <div class="two fields">
      <div class="field">
      <input type="text" name="firstName" placeholder="First Name" [(ngModel)]="newUser.firstName" ngControl="firstName" required>
      </div>
      <div class="field">
        <input type="text" name="lastName" placeholder="Last Name" [(ngModel)]="newUser.lastName" ngControl="lastName" required>
      </div>
    </div>
  </div>
  <div class="field">
    <label>* Username/Pasword</label>
    <div class="three fields">
      <div class="field">
        <input type="text" name="userName" placeholder="User Name" [(ngModel)]="newUser.userName" ngControl="userName" required>
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="Password" [(ngModel)]="newUser.password" ngControl="password1" required>
      </div>
      <div class="field">
        <input type="password" name="password" placeholder="Password Again" ngControl="password2" required>
      </div>
    </div>
  </div>

  <button type="submit" class="ui button" [disabled]="!registerForm.form.valid" >Register</button>
</form>

<div *ngIf="registered">
  <h1>Register Success!</h1>
</div>
</div>
